<table>
    <tr>
        <td class="theader">FUNCIONARIO</td>
        <td class="theader">SALARIO </td>
        <td class="theader">SALARIO NETO</td>
        <td class="theader">Holi4 :)</td>
        <td class="theader">Holi5 :)</td>

    </tr>
    <tr>
        <td class="campo">John Smith</td>
        <td class="campo">$1,000,000.00</td>
        <td class="campo">Crayoli3 (:</td>
        <td class="campo">Crayoli4 (:</td>
        <td class="campo">Crayoli5 (:</td>
    </tr>
    <tr>
        <td class="campo">Una fila</td>
        <td class="campo">2</td>
        <td class="campo">3</td>
        <td class="campo">4</td>
        <td class="campo">5</td>
    </tr>
    <tr>
        <td class="campo">fila y un poco de magia</td>
        <td class="campo">2</td>
        <td class="campo">3</td>
        <td class="campo">4</td>
        <td class="campo">5</td>
    </tr>
    <tr>
        <td class="campo">fila con patadita</td>
        <td class="campo">2</td>
        <td class="campo">3</td>
        <td class="campo">4</td>
        <td class="campo">5</td>
    </tr>
    <tr>
        <td class="campo">fila con uggghhajsfsvjksd</td>
        <td class="campo">2</td>
        <td class="campo">3</td>
        <td class="campo">4</td>
        <td class="campo">5</td>
    </tr>
    <tr>
        <td class="campo"><img src="../../assets/img/SpidermanXD.png" alt="" style="height: 70px;"></td>
        <td class="campo">2</td>
        <td class="campo">3</td>
        <td class="campo">4</td>
        <td class="campo">5</td>
    </tr>
</table>
