<div class="container " appearance="fill">
  <label>Select</label>
  <select [(ngModel)]="selected">
    <option>None</option>
    <option value="puestos">Puestos</option>
    <option value="ubicacion">Ubicación</option>
  </select>


<div *ngIf="selected=='puestos'">
  <button  (click)="segundoPaso() ">Buscar</button>
  <app-salario-puesto></app-salario-puesto>
</div>


<div *ngIf="selected=='ubicacion'">
  <button (click)="segundoPasoUbicacion()">Buscar</button>
  <app-filtrado-ubicacion></app-filtrado-ubicacion>
</div>
</div>
<!--
  <div *ngFor="let d of data">
  <p>{{d[12]}} - {{d[16]}}</p>
</div>
<p>You selected: {{selected}}</p>

<button  (click)="segundoPaso()">Click me!</button>
<div>Fin long: {{numeroPuestos.length}}</div>

<div *ngFor="let dd of numeroPuestos; let i = index">
  <p>{{dd}} {{nombresPuestos[i]}}</p>
</div>
-->