<!--
<head>
    <meta charset="utf-8">
    <title>MyApp</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="/src/styles.css">
</head>
-->
<div class="body2">
    <div class="header ">
        <div class="fondo">
            <img src="../../assets/img/fondo_pnt.png" alt="" style="height: 400px; object-fit: cover;">
        </div>

        <div class="transparencia">
            <img src="../../assets/img/tranparencia.svg" alt="">
        </div>
        <div class="pnt">
            <img src="../../assets/img/PNT.svg" alt="" style="height: 400px;">
        </div>
        <div class="logoheader">
            <img src="../../assets/img/logoheader.png" alt="">
        </div>
    </div>
    <div class="espacio" style="height: 400px;"></div>
    <div class="navbar">
        <div class="logo">
            <a href=""><img src="../../assets/img/mapa.png" alt=""></a>

        </div>
        <p>INFORMACIÓN PÚBLICA</p>

    </div>
    <!--
    <table>
        <tr>
            <td class="theader">FUNCIONARIO</td>
            <td class="theader">SALARIO </td>
            <td class="theader">SALARIO NETO</td>
            <td class="theader">Holi4 :)</td>
            <td class="theader">Holi5 :)</td>

        </tr>
        <tr>
            <td class="campo">John Smith</td>
            <td class="campo">$1,000,000.00</td>
            <td class="campo">Crayoli3 (:</td>
            <td class="campo">Crayoli4 (:</td>
            <td class="campo">Crayoli5 (:</td>
        </tr>
        <tr>
            <td class="campo">Una fila</td>
            <td class="campo">2</td>
            <td class="campo">3</td>
            <td class="campo">4</td>
            <td class="campo">5</td>
        </tr>
        <tr>
            <td class="campo">fila y un poco de magia</td>
            <td class="campo">2</td>
            <td class="campo">3</td>
            <td class="campo">4</td>
            <td class="campo">5</td>
        </tr>
        <tr>
            <td class="campo">fila con patadita</td>
            <td class="campo">2</td>
            <td class="campo">3</td>
            <td class="campo">4</td>
            <td class="campo">5</td>
        </tr>
        <tr>
            <td class="campo">fila con uggghhajsfsvjksd</td>
            <td class="campo">2</td>
            <td class="campo">3</td>
            <td class="campo">4</td>
            <td class="campo">5</td>
        </tr>
        <tr>
            <td class="campo"><img src="../../assets/img/SpidermanXD.png" alt="" style="height: 70px;"></td>
            <td class="campo">2</td>
            <td class="campo">3</td>
            <td class="campo">4</td>
            <td class="campo">5</td>
        </tr>
    </table> -->
  <!--  <script>
        getData();
        async function getData() {
            const response = await fetch('primer_trim_concurso.csv');
            const data = await response.text();
            console.log(data);
        }
    </script> -->
    </div>
