/*@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js');
@import url('https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js');*/

.contenedor{
    display: flex;
    flex-wrap: wrap;
}
.tabla{
    width: 50%;
}
.grafica{
    height: 300px;
}
table {
    border-collapse: collapse;
    position: relative;
    margin: auto;
    margin-top: 100px;
    font-family: 'Open Sans', sans-serif;

}

td {
    border-bottom: 1px solid #dddddd;
    padding: 20px;
}

.theader {
    background-color: rgb(255, 255, 255);
    color: rgb(161, 161, 161);
    font-size: small;
    font-weight: 600;
    text-align: center;
}